{% extends "base.html" %}
{% block content %}

<body>
<table>
<tr>
{% for val in values  %}
   <td> {{ val }} * </td>
{% endfor %}
<td> = </td>
<td>
<form action="{{ url_for('subject2.problem1.grade') }}" method="post" name="mul_form">
    {{ form.hidden_tag() }}
    <p>
        {{ form.result }}
    </p>

    <p><input type="submit" value="Check"></p>
</form>
</td>
</tr>
</table>
</p>


{% if form.correct.data %}
<p> You got this problem! </p>
{% else %}
<p> You failed this problem! </p>
{% endif %}
</body>

{% endblock %}

