{% extends "base.html" %}
{% block content %}

<body>

<p>

<form action="{{ url_for('subject2.problem1.grade') }}" method="post" name="mul_form">
{{ form.hidden_tag() }}

<table>
<tr>
{% set sep = "" %}
{% for val in values  %}
   <td> {{sep}} {{ val }} </td>
   {% set sep = "*" %}
{% endfor %}
<td> = </td>
<td>
{{ form.result }}
</td>
</tr>
</table>
{% if not graded %}
<button type="submit" class="btn btn-primary btn-sm btn-block"> Submit your answer </button>
{% else %}
  <div class="jumbotron">
  {%if correct %}
    <h1 class="display-3">You got this problem </h1>
  {% else %}
    <h1 class="display-3">You failed this problem </h1>
  </div>
  {% endif %}
{% endif %}
</form>
</p>

</body>

{% endblock %}

