{% extends "base.html" %}
{% block content %}

<h1>Hello {{ lti.nickname }}.</h1>

<a href="{{ url_for('add_form') }}">Start problem</a>
<br>
<a href="{{ url_for('index_staff') }}">Start staff page</a>

{% endblock %}
