{% extends "base.html" %}
{% block content %}

<p> I'm up </p>

<table>
<tr> <th> URL </th> <th> Problem Type </th> </tr>
{% for l in extensions %}
<tr> <td> <a href=' {{ l[0] }} '> {{ l[0] }} </a> </td> <td> {{l[1]}} </td> </tr>
{% endfor %}
</table>

{% endblock %}

