{% extends "base.html" %}
{% block content %}

<body>

<form action="{{ url_for('subject1.problem1.grade') }}" method="post" name="add_form">
    {{ form.hidden_tag() }}

    <p>
        {{ form.p1(readonly=true) }} +
        {{ form.p2(readonly=true) }} =
        {{ form.result }}
    </p>

    <p><input type="submit" value="Check"></p>
</form>

</body>

{% endblock %}

