{% extends "base.html" %}
{% block content %}

<body>

<form action="{{ url_for('subject1.problem1.grade') }}" method="post" name="login">
    {{ form.hidden_tag() }}

    <p>
        {{ form.p1(readonly=true) }} +
        {{ form.p2(readonly=true) }} =
        {{ form.result(readonly=true) }}
    </p>
    Is correct? {{ form.correct(readonly=true) }}
    <a href="{{ url_for('subject1.problem1.add_form') }}">New Problem</a>
</form>

</body>

{% endblock %}

